doctype html
html
    head
        link(rel='stylesheet', href='css/build.css')
        script(src='js/build.js')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        link(href="https://fonts.googleapis.com/css?family=Oranienbaum&subset=cyrillic,cyrillic-ext", rel="stylesheet")

    body
        #form.form
            h1.form__title
                |Киноглушитель
            input.form__input(type="text", placeholder="Ссылка на видео", name="video")
            input.form__input(type="text", placeholder="Ссылка на аудио", name="audio")
            input.form__input(type="text", placeholder="Ссылка на субтитры", name="subtitles")
            input#form__submit.form__submit(type="submit", value="Заглушить")
        #player
