doctype html
html
    head
        link(rel='stylesheet', href='css/build.css')
        script(src='js/jquery.min.js')
        script(src='js/app.js')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
    body